body {
  font-family: "Century Gothic", Arial, sans-serif;
  background-image: url('assets/guidoni.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 400px) {
  .container {
    padding: 15px;
  }
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c; /* mais escuro */
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* mesma sombra do .header */
}

.top-header .title {
  font-size: 22px;
  font-weight: bold;
}

.top-header .logo {
  height: 40px;
  max-width: 120px;
  object-fit: contain;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
}

.header .min_field_operador {
  flex: 1 1 100%;
}

.header .min_field_date,
.header .min_field_turno {
  flex: 1 1 calc(50% - 7.5px); /* 50% com gap de 15px dividido */
  display: flex;
  flex-direction: column;
}

/* PADRONIZA ALTURA DOS CAMPOS */
input[type="date"],
select {
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.detalhe-chapa {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detalhe-chapa .field,
.detalhe-chapa .op_field {
  flex: 1 1 100%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input,
textarea,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 2px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
}

button:hover {
  background-color: #004c99;
}

input[type="date"],
select,
button {
  cursor: pointer;
}

input:invalid,
select:invalid {
  border: 2px solid red;
}
